@import url('https://fonts.googleapis.com/css?family=Barrio|Montserrat:700');

body {
  font-family: 'Montserrat', sans-serif;
  background: #111;
  text-align: center;
  color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 80px;
    max-width: 80px;
}

#sidebar.active {
    margin-left: -80px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
